@media screen and (max-width: 400px) {
    .title {
        font-size: 1.3em;
    }

    .title h1 {
        margin: 0;
    }
    
    .score-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .score-panel {
        font-size: 1.75em;
        padding: 0 30px;
    }

    .score-panel .stars {
        font-size: 1.5em;
        padding-left: 0;
    }
    
    .flex1 {
        width: 100%;
    }
    
    .flex2 {
        width: 100%;
    }

    .restart {
        text-align: center;
        font-size: 2em;
    }

    .deck {
        width: 90%;
        min-height: 400px;
        padding: 16px;
    }

    .deck .card {
         height: 70px;
         width: 70px;
    }
}
