@media screen and (max-width: 400px) {
    .score-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    
    .flex1 {
        width: 100%;
    }
    
    .flex2 {
        width: 100%;
    }

    .restart {
        text-align: center;
        font-size: 2em;
    }

    .deck {
        width: 90%;
        min-height: 400px;
        padding: 16px;
    }

    .deck .card {
         height: 70px;
         width: 70px;
    }
}